/*NAVABAR*/


#navbar-ul{
    background:white;
    display: inline-block;

   
}

.navbar-li{
    display:inline-block;
    margin-left: 1em;
    margin-top:1.8em;
    font: Bolder 1em/1.2 'Libre Franklin', sans-serif; 
}

.navbar-li a{
    text-decoration: none;
    color:black
}
.navbar-logo{
    float:left;
    margin-left: 1em;
}



#logo{
   max-width: 20%;
    display:block;
    margin:auto;
    
}



/* 2 - Main content */



/* 3 - More from a list apart */

.box-lista{
    border: 1px solid black;
    height: 15rem;
}

.box-banner{
    border: 1px solid black;
    height: 7rem;
    background: whitesmoke;
}

.title-lista{ 
    font-size: 2.5em;
    font-weight: lighter;
}

.no-appear{visibility: hidden;}

.border-top{
    border-top: 1px solid gainsboro;
}


.try-row{border:2px solid red; }


/* 4 - Footer */
